<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link rel="stylesheet" href="public/style.css">
    <!--<link href='https://fonts.googleapis.com/css?family=Roboto:500,400,100,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>-->
</head>
<body id="app">
<div class="container-fluid">
    <script type="text/javascript" src="public/app.js" charset="utf-8"></script>
</div>
</body>
</html>